
* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

html{
    --height-site: 100vh;
    --height-title: 60px;
}
body{
    margin: 0;
    
}